* {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    display: flex;
    background-color: teal;
    padding: 25px;
}

nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}

nav ul li a:hover{
    background-color: gray;
    border-radius: 20px;
}

header h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 80px;
}

.container {
    width: 80%;
    margin: auto;
}
section {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

section .card {
    width: 350px;
    height: 400px;
    border: solid 5px teal;
    font-family: sans-serif;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    border-radius: 20px;
}

section .card h3 {
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    color: teal;
}

/* About us */
section.about-container{
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    margin-top: 70px;
}
.content{
    width: 68%;
}
.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 800px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 30px;
    font-family: sans-serif;
    border-radius: 20px;
}
.content h1 {
    font-family: sans-serif;
}
.content p{
    width: 99%;
    font-family: sans-serif;
}

.card1 {
    width: 400px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
    border-radius: 20px;
}

/* Service */
table{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    border-collapse: collapse;
    color: white;
}
table,th,td{
    padding: 10px;
}
caption{
    font-size: 26px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: black;
}
th:nth-child(1), td:nth-child(1){
    background-color: rgb(4, 178, 178);
}
th:nth-child(2), td:nth-child(2){
    background-color: rgb(24, 188, 188);
}
th:nth-child(3), td:nth-child(3){
    background-color: rgb(23, 215, 215);
}
th:nth-child(4), td:nth-child(4){
    background-color: rgb(26, 232, 232);
}
td:hover{
    background-color: rgb(219, 219, 219);
}
th:hover{
    background-color: rgb(219, 219, 219);
}
